/* Fonts Setup */

@font-face {
    font-family: 'AP-Regular';
    src: url('../assets/fonts/Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AP-Medium';
    src: url('../assets/fonts/Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AP-Bold';
    src: url('../assets/fonts/Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* Colors Setup */

:root {
    --white: #F2F3F4;
    --black: #181818;
    --orange: #FF631C;
    --title: #B9BABF;
    --para: #5A5A5B;
    --nav-no-focus: rgba(242, 243, 244, 0.60);
}

/* Set Defaults */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--white);
    overflow: hidden;
}

/* Transition Keyframes */

@keyframes moveout {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-35%);
    }
}

@keyframes movein {
    from {
        clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    to {
        clip-path: polygon(0% 100%,100% 100%,100% 0%,0% 0%);
    }
}

::view-transition-old(root) {
    animation: 1.5s cubic-bezier(0.87,0,0.13,1) both moveout;
}

::view-transition-new(root) {
    animation: 1.5s cubic-bezier(0.87,0,0.13,1) both movein;
}


/* Fixed Style Items */

#main-wrapper {
    width: 100%;
    height: 100vh;
}

#backdrop {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -999;
}


#loader-wrapper {
    width: 100%;
    height: 100vh;
    position:fixed;
    top: 0;
    z-index: 999;
    background-color: rgba(242, 243, 244, 0.60);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader {
    width: 30px;
    height: 30px;
    background-color: var(--orange);
}


.aligner {
    display: flex;
    justify-content: center;
    align-items: center;
}


.not-top {
    margin-top: 35px;
}

#cta-container {
    margin-top: 65px;
    display: grid;
    row-gap: 25px;
}

#download-btn {
    width: 320px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'AP-Bold';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;
    color: var(--orange);
    background-color: var(--white);
    border-radius: 20px;
    cursor: pointer;
}

#hire-btn {
    width: 320px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'AP-Bold';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;
    color: var(--white);
    background-color: var(--black);
    border-radius: 20px;
    cursor: pointer;
}

#navbar-wrapper {
    width: 25%;
    height: 60px;
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    background: rgba(99, 99, 99, 0.60);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links>li {
    font-family: 'AP-Regular';
    color: var(--nav-no-focus);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 25px;
    position: relative;
}

.active-nav {
    color: var(--white) !important;
}


.dot {
    width: 5px;
    height: 5px;
    background-color: var(--orange);
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-hover-effect{
    overflow: hidden;
}

.nav-hover-effect a {
    overflow: hidden;
    height: 1em;
    color: var(--nav-no-focus);
}

.nav-hover-effect a span {
    position: relative;
    display: inline-block;
    transition: 0.3s;
}

.nav-hover-effect a span::before {
    color: var(--white);
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    transform: translate3d(0, 0, 0);
}

.nav-hover-effect a:hover span {
    transform: translateY(-100%);
}

#footer-wrapper {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#footer-content {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
}

#footer-content>p {
    font-family: 'AP-Regular';
    color: var(--white);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#footer-content>p>a {
    text-decoration: underline !important;

}

.footer-dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--white);
}

/* Home Page */

#content-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    justify-items: center;
}

#intro-content {
    width: 55.5%;
    display: grid;
    row-gap: 40px;
}


#main-title {
    font-family: 'AP-Medium';
    color: var(--title);
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#description {
    font-family: 'AP-Regular';
    color: var(--black);
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



/* About Page */

#about-outer-wrapper {
    width: 100%;
    height: 580px;
    margin-top: 115px;
    overflow: scroll;
    scrollbar-width: none;
    display: grid;
    align-content: top;
    justify-items: center;
    padding-bottom: 105px;
    padding-top: 40px;
}

#about-content {
    width: 68.75%;
    display: grid;
    row-gap: 100px;
}

#about-inner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: normal;
}

.section-title {
    font-family: 'AP-Medium';
    font-size: 64px;
    color: var(--title);
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}

.section-para {
    width: 66.3%;
    font-family: 'AP-Regular';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--black);
}

#exp-inner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: normal;
}

.listed-content {
    width: 66.3%;
    height: auto;
}

.title-sm {
    font-family: 'AP-Regular';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--black);
}

.details-container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5px;
    align-items: center;
    justify-content: start;
    margin-top: 5px;
}

.details-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--para);
}

.details-container>p {
    font-family: 'AP-Regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--para);
}

.content-list {
    margin-top: 15px;
    font-family: 'AP-Regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--black);
    list-style-type: none;
}

.content-list>li {
    margin: 15px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

#ts-inner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: normal;
}

/* Projects Page */

#projects-outer-wrapper {
    width: 100%;
    height: 580px;
    margin-top: 115px;
    overflow: scroll;
    scrollbar-width: none;
    display: grid;
    align-content: top;
    justify-items: center;
    padding-bottom: 105px;
    padding-top: 40px;
}

#projects-content {
    width: 68.75%;
    display: grid;
    row-gap: 45px;
}

#projects-inner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: normal;
}

.page-title {
    font-family: 'AP-Medium';
    font-size: 64px;
    color: var(--title);
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}

#projects-list-wrapper {
    display: grid;
    row-gap: 15px;
}

#project-container {
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: 65px 3fr 100px;
}

.project-num {
    font-family: 'AP-Regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--para);
}

.project-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.project-title {
    font-family: 'AP-Regular';
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--black);
}

.pub-details {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5px;
    align-items: center;
    justify-content: start;
    margin-top: 15px;
}

.pub-details>p {
    font-family: 'AP-Regular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--para);
}

.pub-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--para);
}

.outside-link {
    opacity: 0;
    position: relative;
    left: -50px;
    transform: rotate(45deg);
    transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s;
}

#project-container:hover .outside-link {
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
}

/* Contact Page */

#title {
    font-family: 'AP-Medium';
    color: var(--title);
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#links-wrapper {
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 25px;
    align-content: center;
    justify-items: center;
}